<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wdl.widgetlearn">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.GalleryActivity"></activity>
        <activity android:name=".ui.CommonlyActivity" />
        <activity android:name=".ui.ProgressBarActivity" />
        <activity android:name=".ui.PopMenuActivity" />
        <activity android:name=".ui.ExpandableListActivity" />
        <activity android:name=".interview.InterviewActivity" />
        <activity android:name=".preference.PreActivity" />
        <activity android:name=".remoteviews.NotifyActivity" />
        <activity
            android:name=".ui.ViewFlipperActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".WidgetActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.StackViewActivity" />

        <receiver android:name=".remoteviews.provider.MyAppWidgetProvider">
            <intent-filter>
                <action android:name="com.wdl.android.action.CLICK" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_info" />
        </receiver>
    </application>

</manifest>